PORT=3002
NODE_ENV=development

# Mongoose connection 
MONGO_URI=mongodb://localhost:27017/facebook-posts

# Same secret as auth-service to decode JWT
JWT_SECRET=super_secret_for_all_services

# Redis for Feed Caching
REDIS_URL=redis://localhost:6379
