PORT=3004
DATABASE_URL="postgresql://user:password@localhost:5432/facebook-notifications"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://localhost:5672"
JWT_SECRET="super_secret_for_all_services"
